/** @format */

.subCover {
  width: 80%;
  margin: auto;
  padding-bottom: 80px;
  list-style: none;
}
.subProjectBox {
  margin-top: 80px;
}
.subProject {
  margin-top: 20px;
}

.subProject:hover {
  transform: translate(-3px, -3px);
  box-shadow: 2px 10px 10px rgb(66, 66, 66);
}
