/** @format */

.skills {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 40px;
}
.skills li {
  width: 25%;
  margin-bottom: 90px;
}
.skills li > div {
  text-align: center;
  height: 19px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(131, 113, 113);
  border-radius: 15px;
  position: relative;
  border: 3px solid greenyellow;
  box-sizing: initial;
}

.skills li > div span {
  position: absolute;
  bottom: 0;
  right: calc(50% - (31.02px / 2));
}
.skills li > div > div {
  background-color: rgb(163, 131, 131);
  border-radius: 15px;
  width: 0%;
  height: 100%;
  transition-duration: 1s;
}
.skills li > div > div.gage {
  background-color: rgb(163, 131, 131);
}
