/** @format */

.todayCover {
  display: flex;
  flex-direction: column;

  margin: auto 0;
  margin-right: 60px;
}
.timeCover {
  justify-content: center;
  display: flex;
  gap: 5px;
  font-size: 13px;
  color: black;
}
.dateCover {
  font-size: 13px;
  color: black;
}
